* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
    
body {
    position: relative;
    padding: 0 1rem 3rem;
    font-size: 1.125rem;
    font-family: Arial, sans-serif;
    color: #9160a2;
    text-shadow: 0px 0px 18px rgba(32, 12, 38, .5);
    background-image: linear-gradient(
        120deg,
        hsl(285deg 25% 50%) 0%,
        hsl(283deg 25% 33%) 11%,
        hsl(279deg 26% 17%) 24%,
        hsl(278deg 27% 9%) 39%,
        hsl(279deg 33% 5%) 60%,
        hsl(0deg 0% 0%) 100%
    );
    background-attachment: fixed;
}
    
body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(./noise.gif);
    background-size: 100px;
    opacity: .15;
    z-index: -1;
}

h1 {
    margin: calc(50vh - .5em) 0;
    font-size: 20vw;
    line-height: 1;
    color: #9160a2;
    text-align: center;
}

h2 {
    margin: 0 0 .5em;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: -.02em;
}

p {
    line-height: 1.5;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
}

.column {
    max-width: 600px;
    margin: 3rem auto;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}