/*
.entry {
  body.single-post & {
    h1 {
      margin: .375em 0 .675em;
    }

    h2,
    h3,
    h4 {
      margin: 1.5em 0 .75em;
    }

    .entry__content {
      font-size: 1.25rem;

      p {
        margin-bottom: 1.25em;
      }
    }

  }
}
*/
