.some-buttons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: .5rem;
  list-style: none;
  margin: 0 0 1.5rem;
  padding: 0;

  a {
    display: flex;
    width: 2.375rem;
    height: 2.375rem;
    padding: 0.625rem;
    background: $black;
    border-radius: 100%;

    &:hover,
    &:focus {
      // background: $steel-gray;
    }

    svg {
      fill: $white;
    }
  }
}
