/**
 * SCSS Helper functions
 */

%bg-cover {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

%list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
