@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/ibm-plex-sans-v21-latin-regular.woff2') format('woff2');
}

/*@media (max-width: $max-md) {
  h1 {
    font-size:2.5rem;
  }

  h2 {
    font-size:2rem;
  }

  h3 {
    font-size:1.75rem;
  }
}*/
